<h1>adicione um usuário</h1>
<form action="/users/create" method="post" class="form">
    <dir class="form-control">
        <label for="name"> Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário">
    </dir>
    <dir class="form-control">
        <label for="noccupationame"> Profição:</label>
        <input type="text" name="occupation" placeholder="Digite a profição">
    </dir>
    <dir class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoções?</label>
    </dir>
    <input type="submit" value="Cadastrar">
</form>