<h1>Criar Produtos</h1>
<div>
    <form action="/addproducts" method="post" class="form">
        <div class="mb-3">
            <label for="name" class="form-label">Nome do produto</label>
            <input type="text" name="nameProduct" class="form-control" placeholder="Digite o Nome do Produto" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Valor do produto</label>
            <input type="text" name="valueProduct" class="form-control" placeholder="Digite o Valor do Produto"
                required>
        </div>
        <input type="submit" class="btn btn-primary container" value="Cadastrar">
    </form>
</div>